<div>
    <h2 id="page-heading">
        <span jhiTranslate="kaloloApp.auteur.home.title">Auteurs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-auteur" [routerLink]="['/auteur/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="kaloloApp.auteur.home.createLabel">
            Create a new Auteur
            </span>
        </button>
    </h2>

    <br><hr>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="auteurs?.length === 0">
        <span jhiTranslate="kaloloApp.auteur.home.notFound">No auteurs found</span>
    </div>

    <br>

    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" *ngIf="auteurs && auteurs.length > 0">
        <ngb-panel id="{{ 'auteur-' + i }}" title="First panel" *ngFor="let auteur of auteurs; let i = index" title="">
            <ng-template ngbPanelHeader>


                    <div class="d-flex align-items-center justify-content-between">
                        <button ngbPanelToggle class="d-flex btn btn-link container-fluid text-left pl-0" >
                            <h5 class="m-0">{{ auteur.nom }}</h5>
                            <p class="ml-2">({{ auteur.cleAuteur }})</p>
                        </button>
                        <div class="btn-group">
                            <button ngbPanelToggle class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline"></span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/auteur', auteur.id, 'edit']"
                                    class="btn btn-primary btn-sm ml-1">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline"></span>
                            </button>

                            <button type="submit" (click)="delete(auteur)"
                                    class="btn btn-danger btn-sm ml-1">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline"></span>
                            </button>
                        </div>
                    </div>

            </ng-template>
            <ng-template ngbPanelContent>
                <table class="table" aria-describedby="page-heading">
                    <tr>
                        <th scope="col" class="w-10"><span jhiTranslate="kaloloApp.auteur.cleAuteur">Cle Auteur</span></th>
                        <td>{{ auteur.cleAuteur }}</td>
                    </tr>
                    <tr *ngIf="auteur.urlWeb">
                        <th scope="col" class="w-10"><span jhiTranslate="kaloloApp.auteur.urlWeb">Url Web</span></th>
                        <td><a href="{{ auteur.urlWeb }}">{{ auteur.urlWeb }}</a></td>
                    </tr>
                    <tr *ngIf="auteur.urlFb">
                        <th scope="col" class="w-10"><span jhiTranslate="kaloloApp.auteur.urlFb">Url Fb</span></th>
                        <td><a href="{{ auteur.urlFb }}">{{ auteur.urlFb }}</a></td>
                    </tr>
                    <tr *ngIf="auteur.urlInsta">
                        <th scope="col" class="w-10"><span jhiTranslate="kaloloApp.auteur.urlInsta">Url Insta</span></th>
                        <td><a href="{{ auteur.urlInsta }}">{{ auteur.urlInsta }}</a></td>
                    </tr>
                    <tr *ngIf="auteur.urlYt">
                        <th scope="col" class="w-10"><span jhiTranslate="kaloloApp.auteur.urlYt">Url Yt</span></th>
                        <td><a href="{{ auteur.urlYt }}">{{ auteur.urlYt }}</a></td>
                    </tr>
                    <tr *ngIf="auteur.urlTwit">
                        <th scope="col" class="w-10"><span jhiTranslate="kaloloApp.auteur.urlTwit">Url Twit</span></th>
                        <td><a href="{{ auteur.urlTwit }}">{{ auteur.urlTwit }}</a></td>
                    </tr>
                </table>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

</div>
