<div>
    <h2 id="page-heading">
        <span jhiTranslate="kaloloApp.media.home.title">Media</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-media" [routerLink]="['/media/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="kaloloApp.media.home.createLabel">
            Create a new Media
            </span>
        </button>
    </h2>

    <br><hr>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="media?.length === 0">
        <span jhiTranslate="kaloloApp.media.home.notFound">No media found</span>
    </div>

    <br>

    <ngb-accordion #acc="ngbAccordion" *ngIf="media && media.length > 0">
        <ngb-panel id="{{ 'media-' + i }}" title="First panel" *ngFor="let m of media; let i = index">
            <ng-template ngbPanelHeader>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex">
                        <h5 class="m-0"> {{ m.auteur.nom ? '' : m.auteur.nom }} - {{ m.titre }} </h5>
                        <p class="ml-2" *ngIf="m.type.libelle != ''">({{ m.type.libelle }})</p>
                    </div>
                    <div class="btn-group">
                        <button ngbPanelToggle class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline"></span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/m', m.id, 'edit']"
                                class="btn btn-primary btn-sm ml-2">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline"></span>
                        </button>

                        <button type="submit" (click)="delete(m)"
                                class="btn btn-danger btn-sm ml-2">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline"></span>
                        </button>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <table class="table" aria-describedby="page-heading">
                    <tr *ngIf="m.url">
                        <th scope="col" ><span jhiTranslate="kaloloApp.media.url">Url</span></th>
                        <td><a href="{{ m.url }}">{{ m.url }}</a></td>
                    </tr>
                    <tr *ngIf="m.date">
                        <th scope="col" ><span jhiTranslate="kaloloApp.media.date">Date</span></th>
                        <td>{{ m.date }}</td>
                    </tr>
                    <tr *ngIf="m.description">
                        <th scope="col" ><span jhiTranslate="kaloloApp.media.description">Description</span></th>
                        <td>{{ m.description }}</td>
                    </tr>
                    <tr *ngIf="m.keywords">
                        <th scope="col" ><span jhiTranslate="kaloloApp.media.keywords">Keywords</span></th>
                        <td>{{ m.keywords }}</td>
                    </tr>
                </table>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

</div>
