<div *ngIf="tags">
    <h2 id="page-heading">
        <span jhiTranslate="kaloloApp.tag.home.title">Tags</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tag" [routerLink]="['/tag/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="kaloloApp.tag.home.createLabel">
            Create a new Tag
            </span>
        </button>
    </h2>

    <br><hr>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tags?.length === 0">
        <span jhiTranslate="kaloloApp.tag.home.notFound">No tags found</span>
    </div>

    <div class="search-hero">
        <span jhiTranslate="logs.filter">Filter</span>
        <div id="filter-style">
            <fa-icon icon="search" class="search-icon"></fa-icon>
            <input class="form-control" type="text" name="search" [(ngModel)]="filter">
        </div>
    </div>

    <br>
    <div id="contentDiv">
        <div id="badgeDiv">
            <button type="submit" [routerLink]="['/tag', tag.id, 'view']" class="btn btn-sm badge" *ngFor="let tag of (tags | pureFilter:filter:'libelle')">
                <div class="h8">{{ tag.libelle }}</div>
            </button>
        </div>
    </div>

</div>
