<div *ngIf='expressions'>
    <h2 id="page-heading">
        <span jhiTranslate="kaloloApp.expression.home.title">Expressions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-expression" [routerLink]="['/expression/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="kaloloApp.expression.home.createLabel">
            Create a new Expression
            </span>
        </button>
    </h2>

    <br><hr>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="expressions?.length === 0">
        <span jhiTranslate="kaloloApp.expression.home.notFound">No expressions found</span>
    </div>

    <br>
    <div class="table-responsive" id="entities" *ngIf="expressions && expressions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="kaloloApp.expression.text">Texte</span></th>
                    <th scope="col" ><span jhiTranslate="kaloloApp.expression.points">Points</span></th>
                    <th scope="col" ><span jhiTranslate="kaloloApp.expression.tags">Tags</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let expression of expressions ;trackBy: trackId">
                    <td> <a [routerLink]="['/expression', expression.id, 'view']"> {{ expression.id }} </a> </td>
                    <td> {{ expression.text }} </td>
                    <td> {{ expression.points }} </td>
                    <td> <span *ngFor="let tag of expression.tags; let last = last"> {{ tag.libelle }}{{ last ? '':', ' }} </span> </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/expression', expression.id, 'view']" class="btn btn-info btn-sm"> <fa-icon icon="eye"></fa-icon> </button>
                            <button type="submit" [routerLink]="['/expression', expression.id, 'edit']" class="btn btn-primary btn-sm"> <fa-icon icon="pencil-alt"></fa-icon> </button>
                            <button type="submit" (click)="delete(expression)" class="btn btn-danger btn-sm"> <fa-icon icon="times"></fa-icon> </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
